# 제로베이스 데이터 사이언스 스쿨 EDA Level Test 9
## 문제 소개 
- 총 3단계 데이터 분석 상황 제시
<br></br>
    - 1단계: DataFrame 전처리
    - 2단계: Data 가공 및 추출
    - 3단계: 원하는 정보 얻기
<br></br>
    - 총점 100점
<br></br>
## 참고 사항
- Check Functions 셀을 반드시 실행해주세요!
- 여러분이 제출하신 답안을 채점하기 위한 코드입니다. 
- 각 문제를 푼 후 반드시, Check(예: check_01_01(df)) 함수를 실행해주시기를 바랍니다
<br></br>
- 파일 제목은 [DS]edatest_honggildong.ipynb 으로 제출해주시기 바랍니다.
    - 성부터 소문자로 작성해주세요.
- 제출은 제공드린 구글설문지를 통해 제출해주시면 감사하겠습니다.
---

# 1. Check Functions
- grading 채점 코드 안에는 각 문제 번호에 따른 check_00_00() 라는 함수가 있습니다. 

    ```
    from grading import check_01_01
    from grading import check_01_02
    from grading import check_01_03
    from grading import check_01_04
    from grading import check_01_05
    from grading import check_02_01
    from grading import check_02_02
    from grading import check_03
    ```
    
- 답안을 작성하신 후에 반드시 채점 코드까지 결과값까지 포함하여 제출해주시기를 바랍니다.  

ex) 
check_01_01(df)

정답입니다! 10점 누적 되었습니다!

현재 누적 점수: 10 / 100

In [66]:
# 채점을 위한 코드입니다. 반드시 실행해주세요.
from grading import *

# 2. Datas

##### Target Data(csv): 서울시 교통사고 현황 (사고유형별) 통계
- Source: [서울 열린데이터 광장](https://data.seoul.go.kr/dataList/322/S/2/datasetView.do)
- DownLoad: 상기 Source(서울 열린데이터 광장)에서 csv 파일 Download
    - 문제 출제 이후 Data 변경될 가능성이 있으므로 문제 풀이시 하기 File Path의 Data 사용
- File Path: ```'./datas/교통사고+현황(사고유형별).csv'```


##### 참고사항
- 문제에 hint가 있을 경우, 해당 hint를 이용하지 않으셔도 무방합니다.

In [67]:
import pandas as pd

df_target = pd.read_csv('./datas/교통사고+현황(사고유형별).csv')
df_target

,자치구별(1),자치구별(2),사고유형별(1),사고유형별(2),구분별(1),1988,1989,1990,1991,1992,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,합계,소계,합계,소계,발생건수 (건),-,-,-,-,-,...,40829,39439,40792,41665,40039,38625,38795,39258,35227,33913
1,합계,소계,합계,소계,사망자수 (명),-,-,-,-,-,...,424,378,400,376,348,343,304,250,219,243
2,합계,소계,합계,소계,부상자수 (명),-,-,-,-,-,...,58583,56761,57345,58656,55669,53810,53751,53904,47513,45223
3,합계,소계,차대사람,소계,발생건수 (건),30877,35109,33606,33061,27165,...,10892,10683,11118,11318,10683,10249,9978,9896,7671,7075
4,합계,소계,차대사람,소계,사망자수 (명),-,-,-,-,-,...,235,215,214,211,196,189,182,139,113,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,합계,강동구,차대차,소계,사망자수 (명),-,-,-,-,-,...,7,4,6,7,4,8,4,4,4,2
314,합계,강동구,차대차,소계,부상자수 (명),-,-,-,-,-,...,1518,1472,1515,1583,1485,1366,1461,1420,1207,1152
315,합계,강동구,차량단독,소계,발생건수 (건),-,-,-,-,-,...,50,39,27,52,41,38,46,33,36,17
316,합계,강동구,차량단독,소계,사망자수 (명),-,-,-,-,-,...,1,4,1,2,2,-,-,-,-,-
317,합계,강동구,차량단독,소계,부상자수 (명),-,-,-,-,-,...,68,44,32,57,42,50,55,36,41,NaN

# 3. 문제

## 1단계: DataFrame 전처리
***

### 문제 1-1) DataFrame 전처리 01 - Column(열)명 수정 (10점)
- Column(열)명을 수정하고자 합니다.
<br></br>
- 위 2. Datas에서 불러온 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: ['자치구별(1)', '사고유형별(2)'] Column(열)을 삭제해주세요.
<br></br>
    - 조건2: ['자치구별(2)', '사고유형별(1)'] Column(열)명을 아래와 같이 변경해주세요.
        - '자치구별(2)' -> '자치구'
        - '사고유형별(1)' -> '사고유형'
        - '구분별(1)' -> '구분'
<br></br>
    - 조건3: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건4: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_01 함수에 입력하여 채점하세요.

In [68]:
df_target.drop('자치구별(1)',axis=1,inplace=True)
df_target.drop('사고유형별(2)',axis=1,inplace=True)
df_target.rename(columns={'자치구별(2)':'자치구'},inplace=True)
df_target.rename(columns={'사고유형별(1)':'사고유형'},inplace=True)
df_target.rename(columns={'구분별(1)':'구분'},inplace=True)

df_target

,자치구,사고유형,구분,1988,1989,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,소계,합계,발생건수 (건),-,-,-,-,-,-,-,...,40829,39439,40792,41665,40039,38625,38795,39258,35227,33913
1,소계,합계,사망자수 (명),-,-,-,-,-,-,-,...,424,378,400,376,348,343,304,250,219,243
2,소계,합계,부상자수 (명),-,-,-,-,-,-,-,...,58583,56761,57345,58656,55669,53810,53751,53904,47513,45223
3,소계,차대사람,발생건수 (건),30877,35109,33606,33061,27165,23245,19590,...,10892,10683,11118,11318,10683,10249,9978,9896,7671,7075
4,소계,차대사람,사망자수 (명),-,-,-,-,-,-,-,...,235,215,214,211,196,189,182,139,113,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,강동구,차대차,사망자수 (명),-,-,-,-,-,-,-,...,7,4,6,7,4,8,4,4,4,2
314,강동구,차대차,부상자수 (명),-,-,-,-,-,-,-,...,1518,1472,1515,1583,1485,1366,1461,1420,1207,1152
315,강동구,차량단독,발생건수 (건),-,-,-,-,-,-,-,...,50,39,27,52,41,38,46,33,36,17
316,강동구,차량단독,사망자수 (명),-,-,-,-,-,-,-,...,1,4,1,2,2,-,-,-,-,-
317,강동구,차량단독,부상자수 (명),-,-,-,-,-,-,-,...,68,44,32,57,42,50,55,36,41,NaN

In [69]:
check_01_01(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 60 / 100

### 문제 1-2) DataFrame 전처리 02 - 특정 Column(열) Data 수정 (10점)
- Data를 수정하고자 합니다.
<br></br>
- 위 1-1 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: '구분' Column(열) Data를 아래와 같이 변경해주세요.
        - 괄호 및 괄호 안의 내용 삭제
        - 값 앞뒤에 공백(띄어쓰기 등) 삭제
            - 발생건수 (건) -> 발생건수
            - 사망자수 (명)	-> 사망자수
            - 부상자수 (명)	-> 부상자수
<br></br>
    - 조건2: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건3: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_02 함수에 입력하여 채점하세요.

In [70]:
import re

for i in df_target.columns:
    df_target[i] = df_target[i].apply(lambda x : re.sub('\(.*\)','',x))
    df_target[i] = df_target[i].str.strip()
    
df_target

TypeError: expected string or bytes-like object

In [71]:
check_01_02(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 60 / 100

### 문제 1-3) DataFrame 전처리 03 - Data Type 변경 (10점)
- Data Type을 수정하고자 합니다.
<br></br>
- 위 1-2 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: ['1988', '1989', ..., '2020', '2021'] Column(열) Data 중 '**-**'인 Data를 숫자 **0**(**정수형**)으로 변경해주세요.
<br></br>
    - 조건2: ['1988', '1989', ..., '2020', '2021'] Column(열) Data 중 **nan**인 Data를 숫자 **0**(**정수형**)으로 변경해주세요.
<br></br>
    - 조건3: ['1988', '1989', ..., '2020', '2021'] Column(열) Data 중 **전부 숫자**로 구성 되어있는 Data의 Type을 **정수형**으로 변경해주세요.
<br></br>
    - 조건4: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건5: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
    - hint: ['1988', '1989', ..., '2020', '2021'] Column(열) Data의 Type은 int(int64)가 되어야 합니다.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_03 함수에 입력하여 채점하세요.

In [72]:
x = 10
1 if x > 9 else 2

1

In [73]:
tg_col = df_target.iloc[:,3:].columns

for i in tg_col: 
    df_target[i] = df_target[i].replace({"-": 0, "nan": 0, "inf": 0, "-inf": 0}) 
    df_target[i] = df_target[i].fillna(0) 
    df_target[i] = df_target[i].astype(float).astype(int)

In [74]:
check_01_03(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 60 / 100

### 문제 1-4) DataFrame 전처리 04 - Index 설정 (10점)
- Index를 설정하고자 합니다.
<br></br>
- 위 1-3 DataFrame(df_target)을 아래 예시 및 조건에 맞게 변경하세요.
<br></br>
    - 예시: df_target.iloc[:26]
<br></br>
    <img src="./[문제보기용 이미지]images/09-1-4-001.png" style="margin:auto" width=800/>
<br></br>
<br></br>
    - 조건1: '자치구' Column(열) Data 중 '**소계**'인 Data를 '**서울시**'로 변경해주세요.
<br></br>
    - 조건2: ['자치구', '사고유형', '구분'] 'Column(열)을 Index로 설정해주세요.
<br></br>
    - 조건3: 상기 조건 이외의 Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건4: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_04 함수에 입력하여 채점하세요.

In [75]:
df_target.자치구 = df_target.자치구.apply(lambda x : '서울시' if x == '소계' else x)
df_target.set_index(['자치구','사고유형','구분'],inplace=True)

In [76]:
check_01_04(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 60 / 100

### 문제 1-5) DataFrame 전처리 05 - 값 채우기 (10점)
- 0인 값 중 일부를 채우고자 합니다.
<br></br>
- 위 1-4 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: 현재 **값이 0**인 ['1988', '1989', ..., '2003', '2004'] Column(열)의 **'서울시'-'합계'-'발생건수'** Row(행) Data를 채워주세요.
<br></br>
        - 각 자치구('서울시' 포함) '합계'-'발생건수'는 '차대사람'-'발생건수', '차대차'-'발생건수', '차량단독'-'발생건수', '건널목'-'발생건수'의 합입니다.
<br></br>
        - 예시: '용산구'의 2005~2006년 Data
<br></br>
            - 2005년 '용산구'-'합계'-'발생건수' 1360 =  '차대사람'-'발생건수' 230 + '차대차'-'발생건수' 1082 + '차량단독'-'발생건수' 48 + '건널목'-'발생건수' 0
<br></br>
        <img src="./[문제보기용 이미지]images/09-1-5-001.png" style="margin:auto" width=250/>
<br></br>
    - 조건2: 상기 조건 이외의 Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건3: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
    - 참고
        - Coding 방식에 따라 **SettingWithCopyWarning** 이 발생할 수 있습니다.
        - 해당 경고(Warning)가 발생하더라도 정답 인정 여부와는 상관 없습니다.
        - 경고(Warning)가 거슬린다면, ```pd.set_option('mode.chained_assignment',  None)``` 설정을 진행하시면 됩니다.
        - 다만 경고(Warning)가 안나오게끔 진행하시길 추천드립니다.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_05 함수에 입력하여 채점하세요.

In [77]:
df_target.reset_index(inplace=True)
df = df_target[(df_target['자치구']=='서울시') & \
    ((df_target['사고유형']=='차대사람') & (df_target['구분']=='발생건수')| \
     (df_target['사고유형']=='차대차') & (df_target['구분']=='발생건수')| \
     (df_target['사고유형']=='차량단독') & (df_target['구분']=='발생건수')| \
     (df_target['사고유형']=='건널목') & (df_target['구분']=='발생건수'))]

df

,자치구,사고유형,구분,1988,1989,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
3,서울시,차대사람,발생건수,30877,35109,33606,33061,27165,23245,19590,...,10892,10683,11118,11318,10683,10249,9978,9896,7671,7075
6,서울시,차대차,발생건수,23899,27129,23734,22949,23724,25876,26475,...,28537,27358,28201,28854,28030,27103,27522,28150,26508,25926
9,서울시,차량단독,발생건수,1210,1592,891,516,443,300,412,...,1399,1398,1473,1493,1326,1273,1295,1212,1048,912
12,서울시,건널목,발생건수,22,5,0,2,1,1,2,...,1,0,0,0,0,0,0,0,0,0

In [78]:
df_ = df.transpose()
df_ = df_.iloc[3:,:]
df_ = df_.sum(axis=1)
df_

1988    56008
1989    63835
1990    58231
1991    56528
1992    51333
1993    49422
1994    46479
1995    42100
1996    46031
1997    40863
1998    42055
1999    50047
2000    53569
2001    45255
2002    39412
2003    40279
2004    38714
2005    38610
2006    38298
2007    39410
2008    41702
2009    44320
2010    41662
2011    40451
2012    40829
2013    39439
2014    40792
2015    41665
2016    40039
2017    38625
2018    38795
2019    39258
2020    35227
2021    33913
dtype: object

In [79]:
df_target[(df_target['자치구']=='서울시') & (df_target['사고유형']=='합계') & (df_target['구분']=='발생건수')]

,자치구,사고유형,구분,1988,1989,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,서울시,합계,발생건수,0,0,0,0,0,0,0,...,40829,39439,40792,41665,40039,38625,38795,39258,35227,33913

In [80]:
df_target.set_index(['자치구','사고유형','구분'],inplace=True)
df_target.iloc[0] = df_
df_target

                1988   1989   1990   1991   1992   1993   1994   1995   1996
자치구 사고유형 구분
서울시 합계   발생건수  56008  63835  58231  56528  51333  49422  46479  42100  46031  \
         사망자수      0      0      0      0      0      0      0      0      0
         부상자수      0      0      0      0      0      0      0      0      0
    차대사람 발생건수  30877  35109  33606  33061  27165  23245  19590  16653  16098
         사망자수      0      0      0      0      0      0      0      0      0
...              ...    ...    ...    ...    ...    ...    ...    ...    ...
강동구 차대차  사망자수      0      0      0      0      0      0      0      0      0
         부상자수      0      0      0      0      0      0      0      0      0
    차량단독 발생건수      0      0      0      0      0      0      0      0      0
         사망자수      0      0      0      0      0      0      0      0      0
         부상자수      0      0      0      0      0      0      0      0      0

                1997  ...   2012   2013   2014   2015   2016   2017   2018
자치구 사고유형 구분           ...
서울시 합계   발생건수  40863  ...  40829  39439  40792  41665  40039  38625  38795  \
         사망자수      0  ...    424    378    400    376    348    343    304
         부상자수      0  ...  58583  56761  57345  58656  55669  53810  53751
    차대사람 발생건수  13086  ...  10892  10683  11118  11318  10683  10249   9978
         사망자수      0  ...    235    215    214    211    196    189    182
...              ...  ...    ...    ...    ...    ...    ...    ...    ...
강동구 차대차  사망자수      0  ...      7      4      6      7      4      8      4
         부상자수      0  ...   1518   1472   1515   1583   1485   1366   1461
    차량단독 발생건수      0  ...     50     39     27     52     41     38     46
         사망자수      0  ...      1      4      1      2      2      0      0
         부상자수      0  ...     68     44     32     57     42     50     55

                2019   2020   2021
자치구 사고유형 구분
서울시 합계   발생건수  39258  35227  33913
         사망자수    250    219    243
         부상자수  53904  47513  45223
    차대사람 발생건수   9896   7671   7075
         사망자수    139    113    120
...              ...    ...    ...
강동구 차대차  사망자수      4      4      2
         부상자수   1420   1207   1152
    차량단독 발생건수     33     36     17
         사망자수      0      0      0
         부상자수     36     41      0

[318 rows x 34 columns]

In [81]:
check_01_05(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 60 / 100

## 2단계: Data 가공 및 추출
***

### 문제 2-1) Data 가공 및 추출 01 - 일부 Data 추출 및 Index 수정 (10점)
- 일부 Data('발생건수')만 추출하고, 불필요한 Index('구분')를 지우려고 합니다.
<br></br>
- 위 1-5 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: 각 자치구('서울시' 포함) / 사고유형별 '발생건수' Row(행) Data만 추출하세요.
<br></br>
    - 조건2: '구분' Index를 제거하세요.
<br></br>
    - 조건3: 상기 조건 이외의 Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
        - 기존 DataFrame(df_target)에서 Index/Column 순서 그대로 '발생건수'만 추출해야 합니다.
<br></br>
        - 예시: df_result.iloc[:14], 모든 값에 0 입력
<br></br>
        <img src="./[문제보기용 이미지]images/09-2-1-001.png" style="margin:auto" width=800/>
<br></br>
    - 조건4: 'df_result' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_result)를 check_02_01 함수에 입력하여 채점하세요.

In [83]:
df_origin = df_target

In [39]:
df_ = df_target.copy()

In [42]:
df_

                1988   1989   1990   1991   1992   1993   1994   1995   1996
자치구 사고유형 구분
서울시 합계   발생건수  56008  63835  58231  56528  51333  49422  46479  42100  46031  \
         사망자수      0      0      0      0      0      0      0      0      0
         부상자수      0      0      0      0      0      0      0      0      0
    차대사람 발생건수  30877  35109  33606  33061  27165  23245  19590  16653  16098
         사망자수      0      0      0      0      0      0      0      0      0
...              ...    ...    ...    ...    ...    ...    ...    ...    ...
강동구 차대차  사망자수      0      0      0      0      0      0      0      0      0
         부상자수      0      0      0      0      0      0      0      0      0
    차량단독 발생건수      0      0      0      0      0      0      0      0      0
         사망자수      0      0      0      0      0      0      0      0      0
         부상자수      0      0      0      0      0      0      0      0      0

                1997  ...   2012   2013   2014   2015   2016   2017   2018
자치구 사고유형 구분           ...
서울시 합계   발생건수  40863  ...  40829  39439  40792  41665  40039  38625  38795  \
         사망자수      0  ...    424    378    400    376    348    343    304
         부상자수      0  ...  58583  56761  57345  58656  55669  53810  53751
    차대사람 발생건수  13086  ...  10892  10683  11118  11318  10683  10249   9978
         사망자수      0  ...    235    215    214    211    196    189    182
...              ...  ...    ...    ...    ...    ...    ...    ...    ...
강동구 차대차  사망자수      0  ...      7      4      6      7      4      8      4
         부상자수      0  ...   1518   1472   1515   1583   1485   1366   1461
    차량단독 발생건수      0  ...     50     39     27     52     41     38     46
         사망자수      0  ...      1      4      1      2      2      0      0
         부상자수      0  ...     68     44     32     57     42     50     55

                2019   2020   2021
자치구 사고유형 구분
서울시 합계   발생건수  39258  35227  33913
         사망자수    250    219    243
         부상자수  53904  47513  45223
    차대사람 발생건수   9896   7671   7075
         사망자수    139    113    120
...              ...    ...    ...
강동구 차대차  사망자수      4      4      2
         부상자수   1420   1207   1152
    차량단독 발생건수     33     36     17
         사망자수      0      0      0
         부상자수     36     41      0

[318 rows x 34 columns]

In [53]:
# df_.reset_index(inplace=True)
# df_ = df_[df_['구분']=='발생건수']
# df_.drop(['구분'],axis=1,inplace=True)

df_.set_index(['자치구','사고유형'],inplace=True)

In [57]:
df_target = df_

In [58]:
check_02_01(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 60 / 100

### 문제 2-2) Data 가공 및 추출 02 - 일부 Data 추출 및 Index 수정 (20점)
- 일부 Data('사망자수')만 추출하고, Index 수정(위치/정렬) 및 삭제('구분')하고자 합니다.
<br></br>
- 위 1-5 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: 각 자치구('서울시' 포함) / 사고유형별 '사망자수' Row(행) Data만 추출하세요.
<br></br>
    - 조건2: '구분' Index를 제거하세요.
<br></br>
    - 조건3: Index는 아래와 같이 변경하세요.
        - '자치구'와 '사고유형'의 위치를 바꾸어주세요.
        - '사고유형' Index는 아래 type_list의 순서와 동일하게 정렬해주세요.
        - '자치구' Index는 아래 gu_list의 순서와 동일하게 정렬해주세요.
        - '사고유형' Index를 우선하여 정렬하여 주세요.
<br></br>
        - 예시: df_result.iloc[:30], 모든 값에 0 입력
<br></br>
        <img src="./[문제보기용 이미지]images/09-2-2-001.png" style="margin:auto" width=800/>
<br></br>
    - 조건4: 상기 조건 이외의 Column 순서는 변경하지 마세요.
<br></br>
    - 조건5: 'df_result' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_result)를 check_02_02 함수에 입력하여 채점하세요.

In [186]:
type_list = ['합계', '차대사람', '차대차', '차량단독', '건널목']
gu_list = ['서울시', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구']

In [187]:
df_target = df_.copy()

In [188]:
df_ = df_origin.copy()

In [189]:
df_.reset_index(inplace=True)
df_ = df_[df_['구분']=='사망자수']
df_.drop(['구분'],axis=1,inplace=True)

df_.set_index(['사고유형','자치구'],inplace=True)
df_.head(10)

,,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
사고유형,자치구,,,,,,,,,,,,,,,,,,,,,
합계,서울시,0,0,0,0,0,0,0,0,0,0,...,424,378,400,376,348,343,304,250,219,243
차대사람,서울시,0,0,0,0,0,0,0,0,0,0,...,235,215,214,211,196,189,182,139,113,120
차대차,서울시,0,0,0,0,0,0,0,0,0,0,...,136,121,150,116,120,117,96,84,80,92
차량단독,서울시,0,0,0,0,0,0,0,0,0,0,...,53,42,36,49,32,37,26,27,26,31
합계,종로구,0,0,0,0,0,0,0,0,0,0,...,12,13,11,8,9,13,6,6,5,6
차대사람,종로구,0,0,0,0,0,0,0,0,0,0,...,9,11,7,7,7,8,4,3,2,4
차대차,종로구,0,0,0,0,0,0,0,0,0,0,...,3,0,3,0,2,3,2,3,2,1
차량단독,종로구,0,0,0,0,0,0,0,0,0,0,...,0,2,1,1,0,2,0,0,1,1
합계,중구,0,0,0,0,0,0,0,0,0,0,...,12,10,7,8,17,4,9,5,6,3
차대사람,중구,0,0,0,0,0,0,0,0,0,0,...,7,8,1,8,11,1,4,4,1,2

In [190]:
df_ = df_.pivot_table(index=['사고유형', '자치구'])
df_.sort_index(level=[0,1],ascending=[True,True])

          1988  1989  1990  1991  1992  1993  1994  1995  1996  1997  ...
사고유형 자치구                                                              ...
차대사람 강남구     0     0     0     0     0     0     0     0     0     0  ...  \
     강동구     0     0     0     0     0     0     0     0     0     0  ...
     강북구     0     0     0     0     0     0     0     0     0     0  ...
     강서구     0     0     0     0     0     0     0     0     0     0  ...
     관악구     0     0     0     0     0     0     0     0     0     0  ...
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
합계   용산구     0     0     0     0     0     0     0     0     0     0  ...
     은평구     0     0     0     0     0     0     0     0     0     0  ...
     종로구     0     0     0     0     0     0     0     0     0     0  ...
     중구      0     0     0     0     0     0     0     0     0     0  ...
     중랑구     0     0     0     0     0     0     0     0     0     0  ...

          2012  2013  2014  2015  2016  2017  2018  2019  2020  2021
사고유형 자치구
차대사람 강남구    15    16    14    10     3     7     9     7     8     6
     강동구    10     4     7    14    11    11     8     7     3     7
     강북구     5     7     8    10     8     5     9     2     1     5
     강서구    14    15    15     7     6     6     5    13     8     7
     관악구    10    13     9     9    13    10     7     6     7     5
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
합계   용산구    11    13     8    18    12    12    14    10    12     5
     은평구    21    10    11    16    14    12    12     7    14    11
     종로구    12    13    11     8     9    13     6     6     5     6
     중구     12    10     7     8    17     4     9     5     6     3
     중랑구    11     9    11    16     9     6    10    12     4     7

[104 rows x 34 columns]

In [191]:
df.index.levels[1].values

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서울시', '서초구', '성동구', '성북구',
       '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
      dtype=object)

In [226]:
#멀티인덱스 커스텀 정렬
df_.index = pd.MultiIndex.from_arrays([
    pd.Categorical(df_.index.get_level_values(0), categories=type_list,ordered=True),
    pd.Categorical(df_.index.get_level_values(1), categories=gu_list,ordered=True)
])

df_.sort_index(inplace=True)
df_

          1988  1989  1990  1991  1992  1993  1994  1995  1996  1997  ...
합계   서울시     0     0     0     0     0     0     0     0     0     0  ...  \
     종로구     0     0     0     0     0     0     0     0     0     0  ...
     중구      0     0     0     0     0     0     0     0     0     0  ...
     용산구     0     0     0     0     0     0     0     0     0     0  ...
     성동구     0     0     0     0     0     0     0     0     0     0  ...
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
차량단독 관악구     0     0     0     0     0     0     0     0     0     0  ...
     서초구     0     0     0     0     0     0     0     0     0     0  ...
     강남구     0     0     0     0     0     0     0     0     0     0  ...
     송파구     0     0     0     0     0     0     0     0     0     0  ...
     강동구     0     0     0     0     0     0     0     0     0     0  ...

          2012  2013  2014  2015  2016  2017  2018  2019  2020  2021
합계   서울시   424   378   400   376   348   343   304   250   219   243
     종로구    12    13    11     8     9    13     6     6     5     6
     중구     12    10     7     8    17     4     9     5     6     3
     용산구    11    13     8    18    12    12    14    10    12     5
     성동구     6     8    11     8    15    15     9    13     9     8
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
차량단독 관악구     4     0     3     0     1     0     1     0     2     0
     서초구     4     1     4     3     1     2     1     0     0     0
     강남구     2     2     0     4     1     1     1     1     2     2
     송파구     1     2     2     1     1     1     1     1     2     1
     강동구     1     4     1     2     2     0     0     0     0     0

[104 rows x 34 columns]

In [244]:
df_result = df_.iloc[:,17:]

In [245]:
check_02_02(df_result)

정답입니다! 20점 누적 되었습니다!
현재 누적 점수: 80 / 100

## 3단계: 원하는 정보 얻기
***

### 문제 3) 원하는 정보 얻기 - 사망률 (20점)
- 2005년 이후 교통사고 발생시 '사망률'을 구하고자 합니다.
<br></br>
- 위 1-5 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: 2005년부터 2021년까지 각 자치구('서울시' 포함) / 사고유형별 '사망률'을 구하고자 합니다.
<br></br>
        - '사망률' = '사망자수' / '발생건수' * 100
<br></br>
        - 소숫점 셋째자리에서 반올림하여 두번째자리까지 표기해주세요.
<br></br>
        - 특정 자치구의 사고유형 중 '사망자수' 또는 '발생건수'가 없다면 계산하지 말고 넘어가세요.
<br></br>
        - 예시1
            - 2005년 '서울시'-'차대사람'의 '사망률' 2.51 = 2005년 '서울시'-'차대사람'-'사망자수' 229 / 2005년 '서울시'-'차대사람'-'발생건수' 9111 * 100
<br></br>
        - 예시2
<br></br>
        <img src="./[문제보기용 이미지]images/09-3-001.png" style="margin:auto" width=600/>
<br></br>
    - 조건2: '구분' Index를 제거하세요.
<br></br>
    - 조건3: 상기 조건 이외의 Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
        - 기존 DataFrame(df_target)에서 Index/Column 순서에 맞추어 '사망률'만 나타내야 합니다.
            - '사고유형' Index는 아래 type_list의 순서와 동일하게 정렬되어야 합니다.
            - '자치구' Index는 아래 gu_list의 순서와 동일하게 정렬되어야 합니다.
<br></br>
        - 예시: df_result, 모든 값에 0 입력
<br></br>
        <img src="./[문제보기용 이미지]images/09-3-002.png" style="margin:auto" width=800/>
<br></br>
    - 조건4: 'df_result' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_result)를 check_03 함수에 입력하여 채점하세요.

In [ ]:
type_list = ['합계', '차대사람', '차대차', '차량단독', '건널목']
gu_list = ['서울시', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구']